@font-face {
  src: url('Assets/IMFellEnglishSC-Regular.ttf.woff2') format('woff2'),
  url('Assets/IMFellEnglishSC-Regular.ttf.woff') format('woff');
}

body {
  background-image: url(https://crownlibrary.files.wordpress.com/2013/09/scan.jpg);
  font-family: 'IMFellEnglishSC', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  background: rgb(95, 82, 64);
  opacity: 0.94;
  border-radius: 10px;
  width: 45vw;
  height: 85vh;
  margin: auto;
  margin-top: 40px;
  font-weight: 900;
  font-size: 110%;
}

.entrance {
  text-align: center;
  padding: 10px 0 20px 0;
}

.container-of-fs {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.first-section {
  display: flex;
  flex-direction: column;
}

.first-section label {
  text-align: center;
  font-size: 16px;
}

.comment-area {
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  font-size: 15px;
}

.checkbox-subscribe {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-left: 10px;
}

.send-button {
  color: rgb(56, 56, 56);
  background-color: black;
  width: 60%;
  height: 60px;
  border-radius: 5px;
  margin: auto;
  font-size: 30px;
  font-weight: 900;
}
