* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-style: italic;
}
p {
  color: #333;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

button {
  background-color: rgb(50, 104, 145);
  color: white;
  border: 0;
  padding: 5px;
  font: bold;
}

nav div form {
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  padding-right: 20px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
}

header {
  margin-top: 80px;
}

.title {
  margin-top: 180px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-style: italic;
}

header hr {
  margin-left: 25vw;
  margin-right: 25vw;
}

.left-nav form {
  display: none;
}

#search-button {
  background-color: white;
  padding-top: 10px;
}

.left-nav #search-button:hover + form {
  display: inline;
}
#search-button:hover {
  display: none;
}

#menu-button {
  width: 35px;
  height: 35px;
  background-color: white;
}

nav div .menu-list {
  display: none;
}

nav div #menu-button:hover + .menu-list {
  display: inline;
}

.menu-list {
  background-color: white;
  width: 200px;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #333;
  box-shadow: 3px 7px rgba(3, 3, 3, 0.8);
  z-index: 2;
}

a h3 {
  display: inline;
}

.social-media-buttons {
  text-align: left;
  margin-top: 10px;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 20px;
}
.social-media-buttons button {
  background-color: #eee;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 10px;
}

#img-header-section img {
  width: 100vw;
  height: 55vh;
}
#img-header-section p:nth-of-type(1) {
  margin-left: 2vw;
  margin-right: 2vw;
  color: #666;
  text-align: left;
}
#img-header-section p:nth-of-type(2) {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2px;
  font-size: 0.8rem;
  color: #999;
  text-align: left;
}
#img-header-section p:nth-of-type(3) {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 80px;
  font-size: 1rem;
  color: #333;
  font-weight: 700;
  text-align: left;
}
#img-header-section p:nth-of-type(4) {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #333;
  text-align: left;
}

#article-1 {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 20px;
  text-align: left;
  color: #333;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 22pt;
}
#article-1 p {
  margin-top: 15px;
}
#article-1 h3 {
  margin-top: 20px;
}

#img-inflation-section {
  margin-left: 2vw;
  margin-right: 2vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title"
    "description description description description"
    "img1 img2 img3 img4"
    "p1 p2 p3 p4"
    "img5 img6 img7 img8"
    "p5 p6 p7 p8";
  text-align: left;
}
#img-inflation-section p span {
  font-weight: 400;
  color: #000;
  font-size: 0.9rem;
}
#img-inflation-section h3 {
  grid-area: title;
  margin-top: 50px;
  margin-bottom: 5px;
  font-style: normal;
}
#img-inflation-section p {
  font-size: 0.9rem;
}
#img-inflation-section p:nth-of-type(1) {
  grid-area: description;
  color: #666;
}
#img-inflation-section img:nth-of-type(1) {
  grid-area: img1;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(2) {
  grid-area: img2;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(3) {
  grid-area: img3;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(4) {
  grid-area: img4;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(5) {
  grid-area: img5;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(6) {
  grid-area: img6;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(7) {
  grid-area: img7;
  object-fit: contain;
}
#img-inflation-section img:nth-of-type(8) {
  grid-area: img8;
  object-fit: contain;
}
#img-inflation-section p:nth-of-type(2) {
  grid-area: p1;
}
#img-inflation-section p:nth-of-type(3) {
  grid-area: p2;
}
#img-inflation-section p:nth-of-type(4) {
  grid-area: p3;
}
#img-inflation-section p:nth-of-type(5) {
  grid-area: p4;
}
#img-inflation-section p:nth-of-type(6) {
  grid-area: p5;
}
#img-inflation-section p:nth-of-type(7) {
  grid-area: p6;
}
#img-inflation-section p:nth-of-type(8) {
  grid-area: p7;
}
#img-inflation-section p:nth-of-type(9) {
  grid-area: p8;
}

.authors {
  margin-top: 100px;
  text-align: left;
  margin-left: 2vw;
  margin-right: 2vw;
}

#article-2 {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 100px;
  text-align: left;
  color: #333;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 22pt;
}
#article-2 p {
  margin-top: 15px;
}
#article-2 .signUp-prompt{
  margin-top: 5px;
  display: grid;
  grid-template-areas: "text text text button";
  grid-template-columns: ;
}
#article-2 .signUp-prompt p{
  display: inline;
  grid-area: text;
  font-style: italic;
  color: #666;
  font-size: 0.9rem;
}
#article-2 .signUp-prompt p span{
  font-style: normal;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
}
#article-2 .signUp-prompt button{
  display: inline;
  color: black;
  grid-area: button;
  background: white;
  border: 1.5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
